# Pandas

Pandas, Python için veri yapıları ve veri analizinde kullanım kolaylığı sağlayan Numpy üzerine inşa edilmiş bir kütüphanedir.

In [0]:
import pandas as pd

## Pandas Data Structres

### Seriler
Herhangi bir veri tipini tutabilen tek boyutlu etiketli dizilerdir.

In [0]:
s1 = pd.Series( ['A','Y','S','E'], index = [1,2,3,4])
s2 = pd.Series( ['N','U','R'], index = [5,6,7])
s3 = pd.Series( ['E','R','D','E', 'M'], index = [8,9,10,11,12])
print(s1)
print(s2)
print(s3)

### DataFrame
Farklı türlerde veriler içerebilen sütunlara sahip 2 boyutlu etiketli veri yapılarıdır.

In [0]:
data = { 'Ulke': ['Belcika', 'Hindistan', 'Brezilya'],
        'Baskent': ['Bruksel', 'Yeni Delhi', 'Brasilia'],
        'Nufus': [11190846,1303171035,207847528]}

df = pd.DataFrame(data, columns= ['Ulke', 'Baskent', 'Nufus'])

print(df)

### Dataframeleri birleştirme

In [0]:
data1 = { 'Sutun1': [1,2,3],
         'Sutun2': [4,5,6]}
data2 = { 'Sutun3': [7,8,9],
         'Sutun4': [10,11,12]}
df1 = pd.DataFrame(data1, columns = ['Sutun1','Sutun2'])
df2 = pd.DataFrame(data2, columns = ['Sutun3','Sutun4'])
print(df1)
print(df2)

2 dataframe'i yanyana birleştirme:

In [0]:
df3 = pd.concat([df1,df2], axis=1)
print(df3)

2 dataframe'i alt alta birleştirme

In [0]:
df4 = pd.concat([df1,df2], axis=0)
print(df4)

## I/O

### CSV Okuma ve Yazma
Pandas ile csv dosyası okunup pandas dataframe haline getirilebilir. Verilerin neyle ayrılacağını belirtmek için "sep" kullanılır. Default olarak virgüldür.

In [0]:
> pd.read_csv('dosya.csv' , header=None, nrows=5)
df.to_csv('myDataFrame.csv')

### Excel Okuma ve Yazma

In [0]:
pd.read_excel('dosya.xlsx')
df.to_excel('dosyayolu/myDataFrame.xlsx', sheet_name='Sheet1')

# Aynı dosyadan birden fazla sheet okuma

xlsx = pd.ExcelFile('dosya.xls')
df = pd.read_excel(xlsx, 'Sheet1')

## Seçim

### Veri Alma

In [0]:
# Tek bir bileşen için
# s1[1] s1 serisinin 1.elemanıdır.
print(s1[1])

#Bir veri setinin alt kümesi için
#df[1:,2] df dataframe'inin 1.satırından itibaren tüm satırları çağırma.
#Bir dataframe'de veriler 0. index ile başlar
print(df[1:])

### Veri Seçme ve Atama

Satır ve sütuna göre tek bir değer seçme

In [0]:
df.iloc[[0],[0]]   # 0.satır 0.sütun değeri

Etiketine göre değer seçme

In [0]:
 df.loc[[0], ['Baskent']]  # 0.satır Baskent sütunundaki değer

Veri setinde değişiklik yapma

In [0]:
s2[6] = 'A'
print(s2)

## Dropping

In [0]:
 s1.drop([2, 3])

In [0]:
 df.drop('Nufus', axis=1)

## Eksik Veri

### Eksik Veri Kontrolü

Eksik veri olup olmadığını kontrol etmek için veriseti.isnull() kullanılır. Varsa True, yoksa False olarak döner.

In [0]:
df.isnull()

Tam tersi için veriseti.null() kullanılabilir. Kayıp veri varsa False, yoksa True döner.

In [0]:
df.notnull()

### Eksik veri sayısı

In [0]:
df.isnull().sum()

### Eksik veri doldurma

Eksik verileri sütunun ortalama değeriyle doldurmak  için;

In [0]:
df.fillna(ortalama_deger)